<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Trainer Road Posts</title>
</head>
<body>
    {{{body}}}

<script>
    $(document).on("click", "#getPosts", function(event) {

        $("#post").html(" ");

        $.getJSON("/posts", (data) => {
            
            for (var i = 0; i < data.length; i++) {
                
                $("#post").append("<div class='post-body'><p>" + data[i].title + "<br />" + data[i].link + "</p><button id='add-to-fav' class='btn btn-primary' data-id='"+ data[i]._id + "'>Favorite</button></div>");
            }
        });
    })
    
    $(document).on("click", "#add-to-fav", function(event) {
        
        var favPostID= $(this).attr("data-id")  

        $.ajax({
            method: "GET",
            url: "/posts/" + favPostID
        })
        .then(function(data) {
            $("#fav-posts").append("<div class='fav-body'><p>" + data[i].title + "<br />" + data[i].link + "</p></div>");
        })
    })
    
</script>
</body>
</html>